<!DOCTYPE html>
<html>
<head>
{% load static from staticfiles %}
<link rel="stylesheet" type="text/css" href="/idm/public/style.css" />
</head>
<body>
     <div id="header-panel"><h1>Recover Password</h1></div>
     <div id="centered-panel">
         <img src="/idm/public/images/success.png" alt="Success" style="width:30px;height:30px"><br>
         <p>A password recovery email has been sent to you. This email will contain a web link to be used to reset your
            forgotten password. If you do not receive the email within a few minutes, you may try again or contact the
            system administrators.<br><br>
         <b>Note: Only the most recent email will have a valid link to recover your password.</b><br>
         <b>{{ content|linebreaks }}</b></p>
     </div>
</body>
</html>
